{% extends "base.html" %}

{% block head_title %}HP-TLGT{% endblock %}

{% block content %}
<h1>News</h1>

{% for news in news_list %}
<div>
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container pull-left">
			<h2 style="padding: 0px;">{{ news.title }}</h2>
			{% if news.short %}{{ news.short }}{% endif %}
			</div>
			<div class="container pull-right">
				<small>By {{ news.reporter }} on {{ news.created_date }}</small>
				<br/>
				<div align="right">
					<small>rating</small>
				</div>
			</div>
		</div>
	<p class="pull-right" style="padding: 0px;margin: 0px;">
	{% for tag in news.tags.all %}
		<span class="label">{{tag}}</span>
	{% endfor %}
	</p>
	</div>
	{{ news.description | safe }}
	{% for comment in news.comments.all %}
	<div class="well">
		<h3>{{ comment.title }}</h3>
		{% if comment.short %}<h4>{{ comment.short }}</h4>{% endif %}
		{{ comment.description | safe }}
	</div>
	{% endfor %}
</div>
{% endfor %}

{% endblock %}
