{% extends "base.html" %}

{% block head_title %}Games{% endblock %}

{% block body %}
<h1 align="center">Games</h1>

{% for game in games_list %}
<div class="navbar">
	<div class="navbar-inner">
		<div class="container pull-right"><small>
			By {{ game.reporter.name }} on {{ game.created_date }}
			<br/>
			<div align="right">rating</div>
		</small></div>
		<h2 style="margin: 10px 10px 10px 0px;"><a href="{% url 'game' game.pk %}" style="text-decoration: none; color: inherit;">{{ game.title }}</a></h2>
		{% if game.short %}{{ game.short }}{% endif %}
	</div>
	<p class="pull-right" style="padding: 0px; margin: 0px;">
	{% for tag in game.tags.all %}
		<span class="label">{{tag}}</span>
	{% endfor %}
	</p>
</div>
{{ game.description | safe }}
<br/>
[<a href="{% url 'game' game.pk %}">Read more... {{ game.comments.count }} Comments</a>]
<br/>
<br/>
{% endfor %}

{% endblock %}
